

.icon:hover{
    cursor: pointer;
}

button.add{
    background-color: #32B845;
    border : 1px solid #32B845;
    border-radius: 10px;
    padding: 12px;
    color:  white;
    font-weight: bold;
    
}

